body {
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Cal__Day__root.Cal__Day__enabled.Cal__Day__highlighted:before {
  background-color: #4ec74e !important;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
}
